{% extends 'base_shoot.html' %}

{% block title %}运动员数据分析-管理员主页{% endblock %}

{% block menu %}

    <ul class="nav" id="main-menu">
        <li>
            <a class="active-menu" href="{% url 'admin_home' %}"><i class="fa fa-dashboard"></i> 项目列表</a>
        </li>
        <li>
            <a href="{% url 'admin_coach' %}"><i class="fa fa-table"></i> 教练列表</a>
        </li>
        <li>
            <a href="{% url 'admin_sport' %}"><i class="fa fa-qrcode"></i> 运动员列表</a>
        </li>
    </ul>


{% endblock %}


{% block header %}

    <h1 class="page-header">
        射击项目列表
    </h1>
    <ol class="breadcrumb">
        <li class="active">添加项目</li>
    </ol>

{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-lg-3">
                        </div>
                        <div class="col-lg-6">
                            添加射击项目信息
                        </div>
                        <div class="col-lg-3">
                        </div>
                    </div>

                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-3">
                        </div>
                        <div class="col-lg-6">
                            <form role="form" action="{% url 'admin_home' %}" method="post">
                                <div class="form-group">
                                    <label>项目名称</label>
                                    <input name="item_name" class="form-control">
                                </div>

                                <div class="form-group">
                                    <label>项目简介</label>
                                    <textarea name="item_intro" class="form-control" rows="3"></textarea>
                                </div>

                                <div class="form-group">
                                    <label>项目规则</label>
                                    <textarea name="item_rule" class="form-control" rows="3"></textarea>
                                </div>

                                <button type="submit" class="btn btn-success">提交</button>
                            </form>
                        </div>
                        <!-- /.col-lg-6 (nested) -->
                        <div class="col-lg-3">

                        </div>
                        <!-- /.col-lg-6 (nested) -->
                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>

{% endblock %}
