{% extends 'base_shoot.html' %}

{% block title %}运动员数据分析-管理员主页{% endblock %}

{% block script %}
    <script>
        function is_delete(id) {
            if (window.confirm('你确定要删除吗？')) {
                window.location.href = "{% url 'admin_delete_coach' %}?id=" + id;
            }
        }


    </script>
{% endblock %}

{% block menu %}

    <ul class="nav" id="main-menu">
        <li>
            <a href="{% url 'admin_home' %}"><i class="fa fa-dashboard"></i> 项目列表</a>
        </li>
        <li>
            <a class="active-menu" href="{% url 'admin_coach' %}"><i class="fa fa-table"></i> 教练列表</a>
        </li>
        <li>
            <a href="{% url 'admin_sport' %}"><i class="fa fa-qrcode"></i> 运动员列表</a>
        </li>
        <li>
            <a href="{% url 'admin_analyse' %}"><i class="fa fa-bar-chart-o"></i> 射击数据分析</a>
        </li>
    </ul>


{% endblock %}


{% block header %}

    <h1 class="page-header">
        教练列表
    </h1>
    <ol class="breadcrumb">
        <li class="active">教练列表</li>
    </ol>

{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-12">
            <!-- Advanced Tables -->
            <div class="panel panel-default">
                <div class="panel-heading">


                    <div class="row">
                        <div class="col-md-4">
                            教练列表
                        </div>
                        <div class="col-md-5">

                        </div>
                        <div class="col-md-3">
                            <a href="{% url 'admin_add_coach' %}" class="btn btn-primary btn-sm">添加教练</a>
                        </div>

                    </div>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>姓名</th>
                                <th>性别</th>
                                <th>年龄</th>
                                <th>主管项目</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for coach_item in coachs %}
                                <tr>
                                    <td>{{ coach_item.coach.user_name }}</td>
                                    <td>{{ coach_item.coach.gender }}</td>
                                    <td>{{ coach_item.coach.age }}</td>
                                    <td>{{ coach_item.item_name }}</td>
                                    <td>
                                        <a href="{% url 'admin_modify_coach' %}?id={{ coach_item.coach.id }}"
                                           class="btn btn-success btn-sm">修改</a>
                                        <a onclick="is_delete({{ coach_item.coach.id }})" class="btn btn-danger btn-sm">删除</a>
                                    </td>
                                </tr>
                            {% endfor %}


                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!--End Advanced Tables -->
        </div>
    </div>

{% endblock %}


