{% extends 'base_shoot.html' %}

{% block title %}运动员数据分析-教练主页{% endblock %}

{% block script %}
    <script src="/static/assets/js/pages/coach_sport_info_detail.js"></script>
{% endblock %}

{% block menu %}

    <ul class="nav" id="main-menu">
        <li>
            <a href="{% url 'coach_home' %}"><i class="fa fa-dashboard"></i> 主界面</a>
        </li>
        <li>
            <a class="active-menu" href="{% url 'coach_sport_info' %}"><i class="fa fa-table"></i> 运动员列表</a>
        </li>
        <li>
            <a href="{% url 'coach_game_info' %}"><i class="fa fa-qrcode"></i> 比赛数据</a>
        </li>
    </ul>

{% endblock %}


{% block header %}

    <h1 class="page-header">
        比赛数据分析
    </h1>
    <ol class="breadcrumb">
        <li><a href="sport_info">运动员列表</a></li>
        <li class="active">运动员具体比赛数据</li>
    </ol>
{% endblock %}

{% block content %}
    <div class="row">

        <div class="col-md-2">

        </div>
        <div class="col-md-8">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    运动员信息
                </div>
                <div class="panel-body">
                    <p> 运动员信息<br>
                        <img src="/static/img/yingyan.jpg"><br>
                        姓名：<br>
                        性别：<br>
                        经历史数据分析得，平均成绩为<br>
                        手部的抖动范围为，<br>
                        腰部的抖动范围为，<br>
                        臂部的抖动范围为，<br>
                        平均心率为<br>
                </div>

            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    技能图
                </div>
                <div class="panel-body">
                    <div id="attention" style="width: 100%;height:500%;"></div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    成绩关系图
                </div>
                <div class="panel-body">
                    <div id="relationship" style="width: 100%;height:500%;"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <form role="form">

                <div class="form-group">
                    <label>选择比赛数据</label>
                    <select class="form-control">
                        <option>比赛数据1</option>
                        <option>比赛数据2</option>
                        <option>比赛数据3</option>
                        <option>比赛数据4</option>
                        <option>比赛数据5</option>
                    </select>
                </div>


            </form>
        </div>
        <div class="col-md-7">
        </div>
    </div>
    <div class="row">

        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    比赛成绩概览
                </div>
                <div class="panel-body">
                    <p>历史最好成绩:<br>
                        平均成绩:<br>
                        本次比赛的成绩为：<br>
                        排名第：<br>
                        打靶位置分布：均匀/偏左上/偏左下/偏右上/偏右下</p>
                </div>
                <div class="panel-footer">
                    本次比赛数据信息统计如下
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    比赛成绩建议
                </div>
                <div class="panel-body">
                    <p> 经您的历史数据分析得，您取得好成绩时肩部的抖动范围为，<br>
                        手部的抖动范围为，<br>
                        腰部的抖动范围为，<br>
                        臂部的抖动范围为，<br>
                        平均心率为<br>
                        您本次的成绩为，哪方面没做好，哪方面需要努力</p>
                </div>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    比赛成绩分布图
                </div>
                <div class="panel-body">
                    <div id="circle" style="width: 100%;height:500%;"></div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    成绩趋势走向图
                </div>
                <div class="panel-body">
                    <div id="grade" style="width: 100%;height:500%;"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    比赛成绩统计图
                </div>
                <div class="panel-body">
                    <div id="total_grade" style="width: 100%;height:500%;"></div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    成绩心率走向图
                </div>
                <div class="panel-body">
                    <div id="heart" style="width: 100%;height:500%;"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    比赛稳定性图
                </div>
                <div class="panel-body">
                    <div id="line_shake" style="width: 100%;height:500%;"></div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    成绩稳定性统计图
                </div>
                <div class="panel-body">
                    <div id="total_shake" style="width: 100%;height:500%;"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

