<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <!-- Bootstrap Styles-->
    <link href="/static/assets/css/bootstrap.css" rel="stylesheet"/>
    <!-- FontAwesome Styles-->
    <link href="/static/assets/css/font-awesome.css" rel="stylesheet"/>
    <!-- Custom Styles-->
    <link href="/static/assets/css/custom-styles.css" rel="stylesheet"/>

    <link href="/static/assets/js/dataTables/dataTables.bootstrap.css" rel="stylesheet"/>

    <link rel="stylesheet" href="/static/assets/css/style.css">

    <script src="/static/js/echarts.js"></script>
    <!-- jQuery Js -->
    <script src="/static/assets/js/jquery-1.10.2.js"></script>
    
    <script>
        
        $(function () {
            
            $("#login_submit").click(function () {
                var password = $('#password').val();
                var username = "admin";
                $.post("{% url 'login_admin' %}",{
			            username: username,
			            password: password
		            },
		            function(data,status){
                        console.log("data: " + data);
			            console.log("数据: \n" + data.status + "\n状态: " + status);
			            if(data.status == "success")
			            {
			                window.location.href = "{% url 'admin_home' %}";
			            }
			            else
			            {
			                $("#show_error").show();
			            }
		        });
                //阻止submit表单提交

            })
            
        })
    </script>

</head>
<body>
<br>
<br>
<div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
        <div class="header">
            <h1 class="page-header">
                射击运动员大数据分析系统
            </h1>
        </div>
        <div class="panel panel-default">
            <p class="panel-heading no-collapse">管理员admin登录</p>
            <div class="panel-body">
                <form id='user_submit'>

                    <div class="form-group">
                        <label>密码</label>
                        <input type="password" class="form-control" id="password" required>
                    </div>
                    <label class="remember-me" id="show_error" style="display:none;"><font
                            color="#FF0000">密码错误</font></label>
                    <br>
                    <button type="button" id="login_submit" class="btn btn-primary pull-left">登录</button>
                    <a class="btn btn-primary pull-right" href="{% url 'login' %}">普通用户登录</a>

                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-4">
    </div>

</div>


</body>
</html>