<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <!-- Bootstrap Styles-->
    <link href="/static/assets/css/bootstrap.css" rel="stylesheet"/>
    <!-- FontAwesome Styles-->
    <link href="/static/assets/css/font-awesome.css" rel="stylesheet"/>
    <!-- Custom Styles-->
    <link href="/static/assets/css/custom-styles.css" rel="stylesheet"/>
    <!-- Google Fonts-->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'/>

    <link href="/static/assets/js/dataTables/dataTables.bootstrap.css" rel="stylesheet"/>

    <script src="/static/js/echarts.js"></script>
    <!-- jQuery Js -->
    <script src="/static/assets/js/jquery-1.10.2.js"></script>
</head>
<body>

<br>
<br>
<div class="row">
    <div class="col-lg-4">
    </div>
    <div class="col-lg-4">
        <div class="header">
            <h1 class="page-header">
                运动员数据分析
            </h1>
        </div>
        <div class="panel panel-default">
            <p class="panel-heading no-collapse">注册界面</p>
            <div class="panel-body">
                <form role="form">
                    <div class="form-group">
                        <label>姓名</label>
                        <input class="form-control" required>
                    </div>

                    <div class="form-group">
                        <label>性别</label>
                        <label class="radio-inline">
                            <input type="radio" name="optionsRadiosInline" id="optionsRadiosInline1"
                                   value="男" checked="">男
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="optionsRadiosInline" id="optionsRadiosInline2"
                                   value="女">女
                        </label>
                    </div>
                    <div class="form-group">
                        <label>所属射击项目</label>
                        <select class="form-control">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>角色</label>
                        <select class="form-control">
                            <option>运动员</option>
                            <option>教练</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>设置登录用户名</label>
                        <input class="form-control" placeholder="若留空则使用姓名作为登录名">
                    </div>
                    <div class="form-group">
                        <label>设置登录密码</label>
                        <input class="form-control" required>
                    </div>
                    <button type="submit" class="btn btn-success">提交</button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
    </div>

</div>


</body>
</html>