<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>

    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap-theme.css">
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    <script src="/static/js/echarts.js"></script>

    <script>
        $(function () {

            var data1 = [];

            var data_grade = [];
            var data_index = [];
            for (var i = 0; i < 70; i++) {
                data1.push([(10 - Math.random() * 5).toFixed(2), (Math.random() * 360).toFixed(2)]);
                data_grade.push((10 - Math.random() * 5).toFixed(2));
                data_index.push(i + 1);

            }

            //    console.log(data1.toString());
            var options = {
                title: {
                    text: '射击数据图示',
                    left: 'center'
                },
                tooltip: {
                    trigger: 'item',
                    formatter: '{a} : {c}'
                    {% comment %}trigger: 'axis',
                    axisPointer: {
                        axis: 'radius'
                    }{% endcomment %}
                },
                legend: {
                    data: ['射击点'],
                    top: 40
                },
                polar: {
                    radius: 250
                },
                angleAxis: {
                    type: 'value'
                },
                radiusAxis: {
                    //    axisAngle: 0,
                    min: 0,
                    max: 10,
                    interval: 1,
                    inverse: true

                    {% comment %} axisPointer:{
                         show: true
                     }{% endcomment %}
                },
                dataZoom: [
                    {
                        type: 'slider',
                        radiusAxisIndex: 0,
                        bottom: 40,
                        start: 0,
                        end: 100
                    },
                    {
                        type: 'inside',
                        radiusAxisIndex: 0,
                        start: 0,
                        end: 100
                    }
                ],
                series: [{
                    coordinateSystem: 'polar',
                    // FIXME
                    // 现在必须得设置这个，能不能polar和catesian一样，要不然很多特殊处理。
                    angleAxisIndex: 0,
                    radiusAxisIndex: 0,
                    name: '射击点',
                    type: 'scatter',
                    symbolSize: 5,
                    data: data1
                }]
            };

            var option_grade = {
                title: {
                    left: 'center',
                    text: '成绩趋势走向图'
                },
                tooltip: {
                    trigger: 'axis',
                    axisPointer: {
                        animation: false
                    }
                },
                legend: {
                    data: ['射击成绩'],
                    top: 25
                },
                axisPointer: {
                    link: {
                        xAxisIndex: 'all'
                    }
                },
                dataZoom: {
                    show: true,
                    realtime: true,
                    start: 40,
                    end: 60,
                    xAxisIndex: [0, 1]
                },
                grid: [{
                    left: 40,
                    right: 40
                }, {
                    left: 40,
                    right: 40
                }],
                xAxis: [{
                    type: 'category',
                    boundaryGap: true,
                    axisLine: {
                        onZero: true
                    },
                    name: '次数',
                    splitLine: {
                        show: true,
                        lineStyle: {
                            color: '#fcc',
                            width: 1
                        }
                    },
                    data: data_index
                }, {
                    gridIndex: 1
                }],
                yAxis: [{
                    type: 'value',
                    max: 10,
                    name: '环数',
                    min: 0,
                    interval: 2,
                    splitLine: {
                        show: true,
                        lineStyle: {
                            color: '#fcc',
                            width: 2
                        }
                    }
                }, {
                    gridIndex: 1
                }],
                series: [{
                    name: '环数',
                    type: 'line',
                    smooth: true,
                    itemStyle: {
                        normal: {
                            color: '#f94427'
                        }
                    },
                    data: data_grade
                }]
            };

            var radar_option_shake = {
                title: {
                    text: '抖动数据图'
                },
                tooltip: {
                    trigger: 'axis'
                },
                legend: {
                    x: 'center',
                    data: ['抖动', '手部', '臂部', '肩部', '腰部']
                },
                radar: {
                    indicator: [{
                        text: '手部',
                        max: 10
                    },
                        {
                            text: '臂部',
                            max: 10
                        },
                        {
                            text: '肩部',
                            max: 10
                        },
                        {
                            text: '腰部',
                            max: 10
                        }
                    ],
                    center: ['50%', '50%'],
                    radius: 150
                },
                series: {
                    type: 'radar',
                    tooltip: {
                        trigger: 'item'
                    },
                    itemStyle: {
                        normal: {
                            areaStyle: {
                                type: 'default'
                            }
                        }
                    },
                    data: [{
                        value: [6, 7, 8, 4],
                        name: '抖动'
                    }]
                }
            };

            var radar_option_attention = {
                title: {
                    text: '心理状态图'
                },
                tooltip: {
                    trigger: 'axis'
                },
                legend: {
                    x: 'center',
                    data: ['心理状态', '紧张度', '放松度', '专注度', '疲劳度']
                },
                radar: {
                    indicator: [{
                        text: '紧张度',
                        max: 10
                    },
                        {
                            text: '放松度',
                            max: 10
                        },
                        {
                            text: '专注度',
                            max: 10
                        },
                        {
                            text: '疲劳度',
                            max: 10
                        }
                    ],
                    center: ['50%', '50%'],
                    radius: 130
                },
                series: {
                    type: 'radar',
                    tooltip: {
                        trigger: 'item'
                    },
                    itemStyle: {
                        normal: {
                            areaStyle: {
                                type: 'default'
                            }
                        }
                    },
                    data: [{
                        value: [6, 7, 8, 4],
                        name: '心理状态'
                    }]
                }
            };


            var legendData = ['手部', '肩部', '腰部', '臂部'];
            var title = "抖动数据折线图";
            var serieData = [];
           {% comment %} var metaDate = [
                [120, 140, 100, 120, 300, 230, 130, 170, 140, 120, 300, 230],
                [200, 120, 300, 200, 170, 300, 200, 180, 200, 190, 300, 200],
                [100, 200, 140, 300, 200, 180, 100, 300, 230, 130, 100, 300],
                [100, 200, 140, 300, 200, 180, 100, 300, 230, 130, 100, 300,]
            ];{% endcomment %}
            var metaDate = [];
            var xAxisData = [];
            for (var k = 0; k < 4; k++) {
                var data = [];
                for (var j = 0; j < 12; j++) {
                    data.push((Math.random() * 10).toFixed(2));
                }
                metaDate.push(data);
            }
            for (var p = 0; p < 12; p++) {
                xAxisData.push(p + 1);
            }
            for (var v = 0; v < legendData.length; v++) {
                var serie = {
                    name: legendData[v],
                    type: 'line',
                    symbol: "circle",
                    symbolSize: 10,
                    data: metaDate[v]
                };
                serieData.push(serie)
            }
            var colors = ["#036BC8", "#4A95FF", "#5EBEFC", "#2EF7F3", "#FFFFFF"];
            var option_line_shake = {
                backgroundColor: '#0f375f',
                title: {
                    text: title,
                    textAlign: 'left',
                    textStyle: {color: "#fff", fontSize: "16", fontWeight: "normal"}
                },
                legend: {
                    show: true, left: "right", data: legendData, y: "5%",
                    itemWidth: 18, itemHeight: 12, textStyle: {color: "#fff", fontSize: 14},
                },
                color: colors,
                grid: {left: '2%', top: "12%", bottom: "5%", right: "5%", containLabel: true},
                tooltip: {trigger: 'axis', axisPointer: {type: 'shadow'}},
                xAxis: [
                    {
                        type: 'category',
                        axisLine: {show: true, lineStyle: {color: '#6173A3'}},
                        axisLabel: {interval: 0, textStyle: {color: '#9ea7c4', fontSize: 14}},
                        axisTick: {show: false},
                        data: xAxisData,
                    },
                ],
                yAxis: [
                    {
                        axisTick: {show: false},
                        splitLine: {show: false},
                        axisLabel: {textStyle: {color: '#9ea7c4', fontSize: 14}},
                        axisLine: {show: true, lineStyle: {color: '#6173A3'}},
                    },
                ],
                series: serieData
            };
            var option_blood = {
                title: {
                    text: '血压曲线图'
                },
                tooltip: {
                    trigger: 'axis'
                },
                legend: {
                    data: ['心率', '舒张压', '收缩压', '平均血压', '血压上限', '血压下限']
                },
                grid: {
                    left: '3%',
                    right: '4%',
                    bottom: '3%',
                    containLabel: true
                },
                xAxis: {
                    type: 'time',
                    boundaryGap: false,
                    splitNumber: 12,
                    splitLine: {
                        show: false
                    },
                    formatter: function (value) {
                        // 格式化成月/日，只在第一个刻度显示年份
                        var date = new Date(value);
                        var texts = [(date.getHours()), date.getMinutes()];
                        return texts.join(':');
                    }
                },
                yAxis: [{
                    //name: '血压',
                    type: 'value',
                    max: 200,
                    min: 0,
                    splitLine: {
                        show: false
                    },
                },
                    {
                        name: '次/分',
                        type: 'value',
                        max: 300,
                        min: 0,
                        splitLine: {
                            show: false
                        },
                    }
                ],
                series: [{
                    name: '心率',
                    type: 'line',
                    yAxisIndex: 1,
                    data: [
                        ['2018-03-22 10:00:00', 80],
                        ['2018-03-22 10:30:00', 80],
                        ['2018-03-22 11:00:00', 80],
                        ['2018-03-22 11:30:00', 80],
                        //=========================
                        ['2018-03-22 12:00:00', 80],
                        ['2018-03-22 14:00:00', 80],
                        ['2018-03-22 16:00:00', 80],
                        ['2018-03-22 18:00:00', 80],
                        ['2018-03-22 20:00:00', 80],
                        ['2018-03-22 22:00:00', 80],
                        ['2018-03-23 00:00:00', 80],
                        ['2018-03-23 02:00:00', 80],
                        ['2018-03-23 04:00:00', 80],
                        ['2018-03-23 06:00:00', 80],
                        ['2018-03-23 08:00:00', 80],
                        ['2018-03-23 10:00:00', 80]
                    ]
                },
                    {
                        name: '舒张压',
                        type: 'line',
                        data: [
                            ['2018-03-22 10:00:00', 90],
                            ['2018-03-22 10:30:00', 90],
                            ['2018-03-22 11:00:00', 90],
                            ['2018-03-22 11:30:00', 90],
                            //=========================
                            ['2018-03-22 12:00:00', 90],
                            ['2018-03-22 14:00:00', 90],
                            ['2018-03-22 16:00:00', 90],
                            ['2018-03-22 18:00:00', 90],
                            ['2018-03-22 20:00:00', 90],
                            ['2018-03-22 22:00:00', 90],
                            ['2018-03-23 00:00:00', 90],
                            ['2018-03-23 02:00:00', 90],
                            ['2018-03-23 04:00:00', 90],
                            ['2018-03-23 06:00:00', 90],
                            ['2018-03-23 08:00:00', 90],
                            ['2018-03-23 10:00:00', 90]
                        ]
                    },
                    {
                        name: '收缩压',
                        type: 'line',
                        data: [
                            ['2018-03-22 10:00:00', 130],
                            ['2018-03-22 10:30:00', 130],
                            ['2018-03-22 11:00:00', 130],
                            ['2018-03-22 11:30:00', 130],
                            //=========================
                            ['2018-03-22 12:00:00', 130],
                            ['2018-03-22 14:00:00', 130],
                            ['2018-03-22 16:00:00', 130],
                            ['2018-03-22 18:00:00', 130],
                            ['2018-03-22 20:00:00', 130],
                            ['2018-03-22 22:00:00', 130],
                            ['2018-03-23 00:00:00', 130],
                            ['2018-03-23 02:00:00', 130],
                            ['2018-03-23 04:00:00', 130],
                            ['2018-03-23 06:00:00', 130],
                            ['2018-03-23 08:00:00', 130],
                            ['2018-03-23 10:00:00', 130]
                        ]
                    },
                    {
                        name: '平均血压',
                        type: 'line',
                        data: [
                            ['2018-03-22 10:00:00', 110],
                            ['2018-03-22 10:30:00', 110],
                            ['2018-03-22 11:00:00', 110],
                            ['2018-03-22 11:30:00', 110],
                            //=========================
                            ['2018-03-22 12:00:00', 110],
                            ['2018-03-22 14:00:00', 110],
                            ['2018-03-22 16:00:00', 110],
                            ['2018-03-22 18:00:00', 110],
                            ['2018-03-22 20:00:00', 110],
                            ['2018-03-22 22:00:00', 110],
                            ['2018-03-23 00:00:00', 110],
                            ['2018-03-23 02:00:00', 110],
                            ['2018-03-23 04:00:00', 110],
                            ['2018-03-23 06:00:00', 110],
                            ['2018-03-23 08:00:00', 110],
                            ['2018-03-23 10:00:00', 110]
                        ]
                    },
                    {
                        name: '血压上限',
                        type: 'line',
                        step: 'start',
                        data: [
                            ['2018-03-22 10:00:00', 140],
                            ['2018-03-22 10:30:00', 140],
                            ['2018-03-22 11:00:00', 140],
                            ['2018-03-22 11:30:00', 140],
                            //=========================
                            ['2018-03-22 12:00:00', 140],
                            ['2018-03-22 14:00:00', 140],
                            ['2018-03-22 16:00:00', 140],
                            ['2018-03-22 18:00:00', 140],
                            ['2018-03-22 20:00:00', 140],
                            ['2018-03-22 22:00:00', 140],
                            ['2018-03-23 00:00:00', 120],
                            ['2018-03-23 02:00:00', 120],
                            ['2018-03-23 04:00:00', 120],
                            ['2018-03-23 06:00:00', 120],
                            ['2018-03-23 08:00:00', 140],
                            ['2018-03-23 10:00:00', 140]
                        ]
                    },
                    {
                        name: '血压下限',
                        type: 'line',
                        step: 'start',
                        data: [
                            ['2018-03-22 10:00:00', 95],
                            ['2018-03-22 10:30:00', 95],
                            ['2018-03-22 11:00:00', 95],
                            ['2018-03-22 11:30:00', 95],
                            //=========================
                            ['2018-03-22 12:00:00', 95],
                            ['2018-03-22 14:00:00', 95],
                            ['2018-03-22 16:00:00', 95],
                            ['2018-03-22 18:00:00', 95],
                            ['2018-03-22 20:00:00', 95],
                            ['2018-03-22 22:00:00', 95],
                            ['2018-03-23 00:00:00', 75],
                            ['2018-03-23 02:00:00', 75],
                            ['2018-03-23 04:00:00', 75],
                            ['2018-03-23 06:00:00', 75],
                            ['2018-03-23 08:00:00', 95],
                            ['2018-03-23 10:00:00', 95]
                        ]
                    },
                    {
                        type: 'line',
                        markLine: {
                            data: [{
                                name: '服药1',
                                xAxis: '2018-03-22 13:00:00'
                            },
                                {
                                    name: '服药2',
                                    xAxis: '2018-03-22 21:00:00'
                                }
                            ]
                        }
                    },
                    {
                        type: 'line',
                        markArea: {
                            data: [
                                [{
                                    name: '夜间区域',
                                    xAxis: '2018-03-22 22:00:00'
                                }, {
                                    xAxis: '2018-03-23 06:00:00'
                                }],
                                [{
                                    name: '夜间区域',
                                    coord: ['2018-03-22 22:00:00', 200]
                                }, {
                                    coord: ['2018-03-23 06:00:00', 200]
                                }],
                                //[{
                                //    name: '60分到80分',
                                //    yAxis: 60
                                //}, {
                                //    yAxis: 80
                                //}]
                            ]
                        }
                    }
                ]

            };
            // 基于准备好的dom，初始化echarts实例
            var myChart = echarts.init(document.getElementById('circle'));
            var myGrade = echarts.init(document.getElementById('grade'));
            var myRadar = echarts.init(document.getElementById('radar'));
            var myAttention = echarts.init(document.getElementById('attention'));
            var myLineShake = echarts.init(document.getElementById('line_shake'));
            var myBlood = echarts.init(document.getElementById('blood'));

            // 使用刚指定的配置项和数据显示图表。
            myChart.setOption(options);
            myGrade.setOption(option_grade);
            myRadar.setOption(radar_option_shake);
            myAttention.setOption(radar_option_attention);
            myLineShake.setOption(option_line_shake);
            myBlood.setOption(option_blood);
        })


    </script>
</head>
<body>
<!-- 为ECharts准备一个具备大小（宽高）的Dom -->
<br>
<br>
<div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-5">
        <div id="circle" style="width: 100%;height:700%;"></div>
    </div>
    <div class="col-md-5">
        <div id="grade" style="width: 100%;height:700%;"></div>
    </div>
    <div class="col-md-1">
    </div>
</div>
<br>
<br>
<div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-5">
        <div id="radar" style="width: 100%;height:700%;"></div>
    </div>
    <div class="col-md-5">
        <div id="line_shake" style="width: 100%;height:700%;"></div>
    </div>
    <div class="col-md-1">
    </div>
</div>
<div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-5">
        <div id="attention" style="width: 100%;height:700%;"></div>

    </div>
    <div class="col-md-5">

    </div>
    <div class="col-md-1">
    </div>
</div>
<div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-10">
        <div id="blood" style="width: 100%;height:700%;"></div>

    </div>
    <div class="col-md-1">
    </div>
</div>


</body>
</html>