{% extends 'base_shoot.html' %}

{% block title %}运动员数据分析-运动员主页{% endblock %}

{% block script %}
    <script>

        $(function () {
            var i = 0;
            var shake_info = {{ shake_info|safe }};
            var grade_info = {{ grade_info|safe }};

            var data_circle = [];
            for (i = 0; i < grade_info.r_pos.length; i++) {
                data_circle.push([grade_info.r_pos[i], grade_info.p_pos[i]]);
            }
            var option_grade_circle = {
                title: {
                    text: '射击数据图示',
                    left: 'center'
                },
                tooltip: {
                    trigger: 'item',
                    formatter: '{a} : {c}'
                },
                legend: {
                    data: ['射击点'],
                    top: 40
                },
                polar: {
                    radius: 170
                },
                angleAxis: {
                    type: 'value',
                    startAngle: 0,
                    minInterval: 30,
                    maxInterval: 30,
                    interval: 30,
                    splitNumber: 12,
                    max: 360,
                    inverse: true

                },
                radiusAxis: {
                    //     axisAngle: 90,
                    min: 8,
                    max: 11,
                    interval: 1,
                    inverse: true
                },
                series: [{
                    coordinateSystem: 'polar',
                    angleAxisIndex: 0,
                    radiusAxisIndex: 0,
                    name: '射击点',
                    type: 'scatter',
                    symbolSize: 5,
                    data: data_circle
                }]
            };


             var grade_data = [];
            var pos_data = [];
            var value = ["一", "二", "三", "四", "五"];
            for (i = 0; i < grade_info.x_pos.length; i++) {
                grade_data.push([grade_info.x_pos[i], grade_info.y_pos[i]]);
                var d1 = {};
                d1.value = value[i];
                d1.xAxis = grade_info.x_pos[i];
                d1.yAxis = grade_info.y_pos[i];
                pos_data.push(d1);
            }
            var x_center1 = 0;
            var y_center1 = 0;
            var r_10 = 50;
            var r_9 = 90;
            var r_8 = 130;
            var circle_data_10 = [];
            var circle_data_9 = [];
            var circle_data_8 = [];
            var x_10_start = x_center1 + r_10 * Math.cos(0);
            var y_10_start = y_center1 + r_10 * Math.sin(0);
            var x_9_start = x_center1 + r_9 * Math.cos(0);
            var y_9_start = y_center1 + r_9 * Math.sin(0);
            var x_8_start = x_center1 + r_8 * Math.cos(0);
            var y_8_start = y_center1 + r_8 * Math.sin(0);
            for (var angle1 = 0; angle1 < 360; angle1 += 10) {
                var x11 = x_center1 + r_10 * Math.cos(angle1 * Math.PI / 180);
                var y11 = y_center1 + r_10 * Math.sin(angle1 * Math.PI / 180);
                var x2 = x_center1 + r_9 * Math.cos(angle1 * Math.PI / 180);
                var y2 = y_center1 + r_9 * Math.sin(angle1 * Math.PI / 180);
                var x3 = x_center1 + r_8 * Math.cos(angle1 * Math.PI / 180);
                var y3 = y_center1 + r_8 * Math.sin(angle1 * Math.PI / 180);
                circle_data_10.push([x11, y11]);
                circle_data_9.push([x2, y2]);
                circle_data_8.push([x3, y3]);
            }
            circle_data_10.push([x_10_start, y_10_start]);
            circle_data_9.push([x_9_start, y_9_start]);
            circle_data_8.push([x_8_start, y_8_start]);

            var option_grade_pos = {
                title: {
                    text: '成绩稳定性:' + grade_info.grade_stability,
                    left: 'center'
                },
                xAxis: {
                    type: 'value',
                    min: -130,
                    max: 130
                },
                tooltip: {
                    trigger: 'axis'
                },
                yAxis: {
                    type: 'value',
                    min: -130,
                    max: 130
                },
                dataZoom: {
                    show: true,
                    realtime: true,
                    start: 0,
                    end: 100
                },
                series: [{
                    data: grade_data,
                    type: 'line',
                    smooth: true,

                    markPoint: {
                        itemStyle: {
                            color: 'rgba(0,0,255,0.3)'
                        },
                        data: pos_data
                    }
                }, {
                    data: circle_data_10,
                    type: 'line',
                    symbol:'none',
                    smooth: true,
                    tooltip: {
                        show: false
                    }
                }, {
                    data: circle_data_9,
                    type: 'line',
                    symbol:'none',
                    smooth: true,
                    tooltip: {
                        show: false
                    }
                }, {
                    data: circle_data_8,
                    type: 'line',
                    symbol:'none',
                    smooth: true,
                    tooltip: {
                        show: false
                    }
                }]
            };

            var data_index = [1, 2, 3, 4, 5];

            var option_grade_line = {
                title: {
                    left: 'center',
                    text: '成绩趋势走向图'
                },
                tooltip: {
                    trigger: 'axis',
                    axisPointer: {
                        animation: false
                    }
                },
                legend: {
                    data: ['射击成绩'],
                    top: 25
                },
                axisPointer: {
                    link: {
                        xAxisIndex: 'all'
                    }
                },
                grid: [{
                    left: 40,
                    right: 40
                }, {
                    left: 40,
                    right: 40
                }],
                xAxis: [{
                    type: 'category',
                    boundaryGap: true,
                    axisLine: {
                        onZero: true
                    },
                    name: '次数',
                    splitLine: {
                        show: true,
                        lineStyle: {
                            color: '#fcc',
                            width: 1
                        }
                    },
                    data: data_index
                }, {
                    gridIndex: 1
                }],
                yAxis: [{
                    type: 'value',
                    max: 10,
                    name: '环数',
                    min: 5,
                    interval: 1,
                    splitLine: {
                        show: true,
                        lineStyle: {
                            color: '#fcc',
                            width: 2
                        }
                    }
                }, {
                    gridIndex: 1
                }],
                series: [{
                    name: '射击成绩',
                    type: 'line',
                    smooth: true,
                    itemStyle: {
                        normal: {
                            color: '#f94427'
                        }
                    },
                    data: grade_info.grades
                }]
            };


            var heart_index = [1, 2, 3, 4, 5, 6];
            var option_heart = {
                title: {
                    text: '心率变化数据'
                },
                tooltip: {
                    triggerOn: 'onmousemove',
                    formatter: function (params) {
                        return '次数: ' + params.name + '<br>心跳: ' + params.value + '次';
                    }
                },
                xAxis: {
                    boundaryGap: false,
                    data: heart_index,
                    axisLabel: {
                        color: '#000000'
                    },
                    axisLine: {
                        lineStyle: {
                            color: '#BFBFBF'
                        }
                    }
                },
                yAxis: {
                    min: 40,
                    axisLabel: {
                        color: '#000000'
                    },
                    axisLine: {
                        lineStyle: {
                            color: '#BFBFBF'
                        }
                    }
                },
                series: [{
                    type: 'line',
                    data: grade_info.hearts,
                    color: ['#2F42FF'],
                    symbolSize: 10,
                    label: {
                        normal: {
                            show: true//圆点上显示值
                        }
                    },
                    markLine: {
                        data: [{
                            type: 'average',
                            name: '平均值'
                        }]
                    }
                }]
            };


            var xDataOri = shake_info.x_data_ori;
            var yDataOri = shake_info.y_data_ori;
            var xUpDataOri = shake_info.x_up_data_ori;
            var yUpDataOri = shake_info.y_up_data_ori;

            var xUpData = shake_info.x_up_data_plus;
            var yUpData = shake_info.y_up_data_plus;
            var yData = shake_info.y_data_plus;
            var xData = shake_info.x_data_plus;

            var merge_data = [];
            for (i = 0; i < yData.length; i++) {
                merge_data.push([xUpData[i], yData[i]]);
            }


            var option_shake_merge_info = {
                xAxis: {
                    type: 'value'
                },
                tooltip: {
                    trigger: 'axis'
                },
                yAxis: {
                    type: 'value'
                },
                dataZoom: {
                    show: true,
                    realtime: true,
                    start: 0,
                    end: 100
                },
                series: {
                    data: merge_data,
                    type: 'line',
                    smooth: true
                }
            };


            var shoot_series = [];
            var x_centers = [0, 750, 1500, 2250, 3000];
            var y_centers = [0, 0, 0, 0, 0];
            var rs = [50, 90, 130];
            for (i = 0; i < 5; i++) {
                for (var j = 0; j < 3; j++) {
                    var circle_data = [];
                    var x_center = x_centers[i];
                    var y_center = y_centers[i];
                    var x_start = x_center + rs[j] * Math.cos(0);
                    var y_start = y_center + rs[j] * Math.sin(0);

                    for (var angle = 0; angle < 360; angle += 10) {
                        var x1 = x_center + rs[j] * Math.cos(angle * Math.PI / 180);
                        var y1 = y_center + rs[j] * Math.sin(angle * Math.PI / 180);
                        circle_data.push([x1, y1]);
                    }
                    circle_data.push([x_start, y_start]);
                    var temp = {

                        data: circle_data,
                        type: 'line',
                        symbol: 'none',
                        smooth: true,
                        tooltip: {
                            show: false
                        }
                    };
                    shoot_series.push(temp);
                }
            }
            var scatter_data = [];
            for (i = 0; i < grade_info.x_pos.length; i++) {
                scatter_data.push([parseFloat(grade_info.x_pos[4 - i]) + x_centers[i], grade_info.y_pos[4 - i]]);

            }
            var scatter_series = {
                type: 'scatter',
                data: scatter_data

            };
            shoot_series.push(scatter_series);

            var option_pos_five = {
                grid: [{
                    top: '15%',
                    bottom: '20%',
                    left: '3%',
                    right: '3%',
                    {#height: '80%'#}
                }
                ],
                series: shoot_series,
                tooltip: {
                    trigger: 'item',
                    formatter: '{c}'
                },
                xAxis: {
                    type: 'value',
                    min: -150,
                    max: 3150
                },
                yAxis: {
                    type: 'value'
                }
            };


            var up_data_x_y_plus = [];
            for (i = 0; i < xUpData.length; i++) {
                up_data_x_y_plus.push([xUpData[i], yUpData[i]]);
            }

            var option_up_shake_x_y_plus = {
                xAxis: {
                    type: 'value'
                },
                tooltip: {
                    trigger: 'axis'
                },
                yAxis: {
                    type: 'value'
                },
                dataZoom: {
                    show: true,
                    realtime: true,
                    start: 0,
                    end: 100
                },
                series: [{
                    data: up_data_x_y_plus,
                    type: 'line',
                    smooth: true

                }]
            };


            var xAxisData = [];
            for (i = 0; i < xDataOri.length; i++) {
                xAxisData.push(i + 1);
            }

            var option_beside_shake_ori = {
                color: [
                    '#66CCFF',
                    '#CC6666',
                    '#66CCCC',
                    '#FF9999',
                    '#26A69A',
                    '#6200EA'
                ],
                title: {
                    text: '枪的抖动图（原始数据)',
                    top: 5
                },
                grid: [{
                    top: '9%',
                    bottom: 0,
                    left: '5%',
                    right: '5%',
                    height: '35%'
                },
                    {
                        top: '50%',
                        bottom: 0,
                        left: '5%',
                        right: '5%',
                        height: '35%'
                    }
                ],

                axisPointer: {
                    link: {
                        xAxisIndex: 'all'
                    }
                },
                legend: {
                    data: ['x方向', 'y方向'],
                    top: 5
                },
                tooltip: {
                    trigger: 'axis',
                    formatter: function (params) {
                        if (params instanceof Array) {
                            var idxMap = [{
                                text: '占比',
                                data: []
                            }];
                            var time = params[0].axisValue;
                            for (var i = 0; i < params.length; i++) {
                                var seriesIdx = params[i].seriesId.split(
                                    params[i].seriesId[0]
                                );
                                idxMap[seriesIdx[2]].data.push({
                                    marker: params[i].marker,
                                    seriesName: params[i].seriesName,
                                    data: params[i].data
                                });
                            }

                            return (
                                '<div>' +
                                '<time>' +
                                time +
                                '</time>' +
                                '<br />' +
                                idxMap.map(function (item) {
                                    return (
                                        '<span>' +
                                        item.text +
                                        '</span>' +
                                        item.data
                                            .map(function (i_item) {
                                                return (
                                                    '<p style="margin: 0;padding: 0;">' +
                                                    i_item.marker +
                                                    i_item.seriesName +
                                                    ': ' +
                                                    i_item.data +
                                                    '</p>'
                                                );
                                            })
                                            .join('')
                                    );
                                })
                                    .join('')
                                +
                                '</div>'
                            );
                        }
                    }
                },
                xAxis: [
                    {
                        type: 'category',
                        gridIndex: 0,
                        position: 'bottom',
                        axisLabel: {
                            show: true
                        },
                        data: xAxisData,
                        //show: false,
                        boundaryGap: true
                    },
                    {
                        type: 'category',
                        gridIndex: 1,
                        position: 'bottom',
                        axisLabel: {
                            show: true
                        },
                        data: xAxisData,
                        //show: false,
                        boundaryGap: true
                    }
                ],
                yAxis: [

                    {
                        name: 'x方向',
                        type: 'value',
                        nameTextStyle: {
                            fontSize: 14
                        },
                        gridIndex: 0,
                        inverse: false,
                        splitLine: {
                            lineStyle: {
                                type: 'dashed'
                            }
                        },
                        nameLocation: 'center',
                        nameGap: 30,
                        nameRotate: -90
                    },

                    {
                        name: 'y方向',
                        type: 'value',
                        nameTextStyle: {
                            fontSize: 14
                        },
                        gridIndex: 1,
                        splitLine: {
                            lineStyle: {
                                type: 'dashed'
                            }
                        },
                        position: 'left',
                        nameLocation: 'center',
                        nameGap: 30,
                        nameRotate: -90
                    }
                ],
                dataZoom: [{
                    type: 'slider',
                    show: true,
                    xAxisIndex: [0, 1],
                    start: 0,
                    end: 100
                },
                    {
                        type: 'inside',
                        xAxisIndex: [0, 1]
                    }
                ],
                series: [

                    {
                        name: 'x方向',
                        type: 'line',
                        xAxisIndex: 0,
                        data: xDataOri,
                        yAxisIndex: 0,
                        //        symbol: 'none',
                        smooth: true
                    },
                    {
                        name: 'y方向',
                        type: 'line',
                        xAxisIndex: 1,
                        yAxisIndex: 1,
                        data: yDataOri,
                        //        symbol: 'none',
                        smooth: true

                    }
                ]
            };

            var up_len = xData.length;
            var xUpAxisData = [];
            for (i = 0; i < up_len; i++) {
                xUpAxisData.push(i + 1);
            }
            var option_up_shake_ori = {
                color: [
                    '#66CCFF',
                    '#CC6666',
                    '#66CCCC',
                    '#FF9999',
                    '#26A69A',
                    '#6200EA'
                ],
                title: {
                    text: '枪的抖动图（原始数据)',
                    top: 5
                },
                grid: [{
                    top: '9%',
                    bottom: 0,
                    left: '5%',
                    right: '5%',
                    height: '35%'
                },
                    {
                        top: '50%',
                        bottom: 0,
                        left: '5%',
                        right: '5%',
                        height: '35%'
                    }
                ],

                axisPointer: {
                    link: {
                        xAxisIndex: 'all'
                    }
                },
                legend: {
                    data: ['x方向', 'y方向'],
                    top: 5
                },
                tooltip: {
                    trigger: 'axis',
                    formatter: function (params) {
                        if (params instanceof Array) {
                            var idxMap = [{
                                text: '占比',
                                data: []
                            }];
                            var time = params[0].axisValue;
                            for (var i = 0; i < params.length; i++) {
                                var seriesIdx = params[i].seriesId.split(
                                    params[i].seriesId[0]
                                );
                                idxMap[seriesIdx[2]].data.push({
                                    marker: params[i].marker,
                                    seriesName: params[i].seriesName,
                                    data: params[i].data
                                });
                            }

                            return (
                                '<div>' +
                                '<time>' +
                                time +
                                '</time>' +
                                '<br />' +
                                idxMap.map(function (item) {
                                    return (
                                        '<span>' +
                                        item.text +
                                        '</span>' +
                                        item.data
                                            .map(function (i_item) {
                                                return (
                                                    '<p style="margin: 0;padding: 0;">' +
                                                    i_item.marker +
                                                    i_item.seriesName +
                                                    ': ' +
                                                    i_item.data +
                                                    '</p>'
                                                );
                                            })
                                            .join('')
                                    );
                                })
                                    .join('')
                                +
                                '</div>'
                            );
                        }
                    }
                },
                xAxis: [
                    {
                        type: 'category',
                        gridIndex: 0,
                        position: 'bottom',
                        axisLabel: {
                            show: true
                        },
                        data: xUpAxisData,
                        //show: false,
                        boundaryGap: true
                    },
                    {
                        type: 'category',
                        gridIndex: 1,
                        position: 'bottom',
                        axisLabel: {
                            show: true
                        },
                        data: xUpAxisData,
                        //show: false,
                        boundaryGap: true
                    }
                ],
                yAxis: [

                    {
                        name: 'x方向',
                        type: 'value',
                        nameTextStyle: {
                            fontSize: 14
                        },
                        gridIndex: 0,
                        inverse: false,
                        splitLine: {
                            lineStyle: {
                                type: 'dashed'
                            }
                        },
                        nameLocation: 'center',
                        nameGap: 30,
                        nameRotate: -90
                    },

                    {
                        name: 'y方向',
                        type: 'value',
                        nameTextStyle: {
                            fontSize: 14
                        },
                        gridIndex: 1,
                        splitLine: {
                            lineStyle: {
                                type: 'dashed'
                            }
                        },
                        position: 'left',
                        nameLocation: 'center',
                        nameGap: 30,
                        nameRotate: -90
                    }
                ],
                dataZoom: [{
                    type: 'slider',
                    show: true,
                    xAxisIndex: [0, 1],
                    start: 0,
                    end: 100
                },
                    {
                        type: 'inside',
                        xAxisIndex: [0, 1]
                    }
                ],
                series: [

                    {
                        name: 'x方向',
                        type: 'line',
                        xAxisIndex: 0,
                        data: xUpDataOri,
                        yAxisIndex: 0,
                        //      symbol: 'none',
                        smooth: true
                    },
                    {
                        name: 'y方向',
                        type: 'line',
                        xAxisIndex: 1,
                        yAxisIndex: 1,
                        data: yUpDataOri,
                        //       symbol: 'none',
                        smooth: true

                    }
                ]
            };


            var grade_circle = echarts.init(document.getElementById('grade_circle'));
            var grade_position = echarts.init(document.getElementById('grade_position'));
            var grade_line = echarts.init(document.getElementById('grade_line'));
            var heart = echarts.init(document.getElementById('heart'));

            var line_shake_merge_info = echarts.init(document.getElementById('line_shake_merge_info'));
            var line_pos_five = echarts.init(document.getElementById('line_pos_five'));
            var line_up_shake_x_y_plus = echarts.init(document.getElementById('line_up_shake_x_y_plus'));
            var line_shake_ori = echarts.init(document.getElementById('line_shake_ori'));
            var line_up_shake_ori = echarts.init(document.getElementById('line_up_shake_ori'));

            grade_circle.setOption(option_grade_circle);
            grade_position.setOption(option_grade_pos);
            grade_line.setOption(option_grade_line);

            line_shake_merge_info.setOption(option_shake_merge_info);
            line_pos_five.setOption(option_pos_five);
            line_up_shake_x_y_plus.setOption(option_up_shake_x_y_plus);
            line_shake_ori.setOption(option_beside_shake_ori);
            line_up_shake_ori.setOption(option_up_shake_ori);
            heart.setOption(option_heart);

        });

    </script>
{% endblock %}
{% block menu %}

    <ul class="nav" id="main-menu">
        <li>
            <a href="{% url 'sport_home' %}"><i class="fa fa-dashboard"></i> 主界面</a>
        </li>
        <li>
            <a class="active-menu" href="{% url 'sport_game_history' %}"><i class="fa fa-qrcode"></i> 射击数据</a>
        </li>

    </ul>

{% endblock %}


{% block header %}

    <h1 class="page-header">
        比赛数据分析
    </h1>
    <ol class="breadcrumb">
        <li class="active">分析结果</li>
    </ol>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            <form role="form">
                <div class="form-group">
                    开始时间:{{ shoot_reports.shoot_date }}&nbsp;{{ shoot_reports.shoot_time }}&nbsp;&nbsp;成绩:{{ shoot_reports.total_grade }}环
                </div>
            </form>
        </div>
        <div class="col-md-7">
        </div>
    </div>
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">

                <div class="row">
                    <div class="col-md-4">
                        射击信息（抖动数据不完整）
                    </div>
                    <div class="col-md-5">
                    </div>
                    <div class="col-md-3">
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>射击时间</th>
                            <th>射击成绩</th>
                            <th>速射时间</th>
                            <th>弹着点坐标(mm)</th>
                            {% comment %}    <th>x方向抖动(mm)</th>
                            <th>y方向抖动(mm)</th>{% endcomment %}
                            <th>心率</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for shoot in shoot_info %}
                            <tr>

                                <td>{{ shoot.grade_detail_time }}</td>
                                <td>{{ shoot.grade }}</td>
                                <td>{{ shoot.rapid_time }}</td>
                                <td>{{ shoot.x_pos }},{{ shoot.y_pos }}</td>
                                {% comment %}    <td>{{ shoot.x_shake }}</td>
                                <td>{{ shoot.y_shake }}</td>{% endcomment %}
                                <td>{{ shoot.heart_rate }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="row">

        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    枪的正面移动图
                </div>
                <div class="panel-body">
                    <div id="line_shake_merge_info" style="width: 100%;height:400%;"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    比赛靶图
                </div>
                <div class="panel-body">
                    <div id="line_pos_five" style="width: 100%;height:200%;"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">

        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    上面摄像头xy坐标累加数据
                </div>
                <div class="panel-body">
                    <div id="line_up_shake_x_y_plus" style="width: 100%;height:500%;"></div>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    第一枪
                </div>
                <div class="panel-body">
                    <div id="line_shake_one" style="width: 100%;height:500%;"></div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    第二枪
                </div>
                <div class="panel-body">
                    <div id="line_shake_two" style="width: 100%;height:500%;"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    第三枪
                </div>
                <div class="panel-body">
                    <div id="line_shake_three" style="width: 100%;height:500%;"></div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    第四枪
                </div>
                <div class="panel-body">
                    <div id="line_shake_four" style="width: 100%;height:500%;"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    第五枪
                </div>
                <div class="panel-body">
                    <div id="line_shake_five" style="width: 100%;height:500%;"></div>
                </div>
            </div>
        </div>

    </div>
    <div class="row">

        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    侧面摄像头原始数据
                </div>
                <div class="panel-body">
                    <div id="line_shake_ori" style="width: 100%;height:500%;"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">

        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    上面摄像头原始数据
                </div>
                <div class="panel-body">
                    <div id="line_up_shake_ori" style="width: 100%;height:500%;"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    比赛成绩分布图
                </div>
                <div class="panel-body">
                    <div id="grade_circle" style="width: 100%;height:500%;"></div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    成绩坐标图
                </div>
                <div class="panel-body">
                    <div id="grade_position" style="width: 100%;height:500%;"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    成绩趋势走向图
                </div>
                <div class="panel-body">
                    <div id="grade_line" style="width: 100%;height:500%;"></div>
                </div>
            </div>

        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    成绩心率走向图
                </div>
                <div class="panel-body">
                    <div id="heart" style="width: 100%;height:500%;"></div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

