{% extends 'base_shoot.html' %}

{% block title %}运动员数据分析-运动员主页{% endblock %}

{% block script %}
   <script>
   $(function () {
    var data1 = [];

    var data_grade = [];
    var data_index = [];
    for (var i = 0; i < 60; i++) {
        data1.push([(10 - Math.random() * 5).toFixed(1), (Math.random() * 360).toFixed(1)]);
        data_grade.push((10 - Math.random() * 5).toFixed(1));
        data_index.push(i + 1);

    }
    var model_info = {{ model_info|safe }};
    var skills = {{ skills|safe }};
//    console.log(model_info);
    var heart_rate = model_info.heart_rate.toFixed(3) * 10;
    var y_stability = model_info.y_stability.toFixed(3) * 10;
    var x_average = model_info.x_average.toFixed(3) * 10;
    var rapid_diff = model_info.rapid_diff.toFixed(3) * 10;
    var option_relationship = {
        title: {
            textStyle: {
                fontSize: 34,
                fontStyle: 'normal',
                fontWeight: 'normal'
            },
            text: '成绩与其他因素关系图',
            x: 'center'
        },
        tooltip: {
            trigger: 'axis',
            axisPointer: {
                type: 'shadow'
            }
        },
        toolbox: {
            show: true,
            feature: {
                dataView: {
                    show: true,
                    readOnly: true
                },
                magicType: {
                    show: true,
                    type: ['line', 'bar']
                },
                restore: {
                    show: true
                },
                saveAsImage: {
                    show: true
                }
            }
        },
        calculable: false,
        xAxis: [{
            type: 'category',
            name: '相关因素',
            axisLabel: {
                interval: 0
            },
            data: ['瞄准稳定性', '射击移动稳定性', '速射时间','心率']

        }],
        yAxis: [{
            type: 'value',
            name: '贡献度'
        }],
        series: [{
            name: '贡献度',
            type: 'bar',
            data: [y_stability.toFixed(2),x_average.toFixed(2),rapid_diff.toFixed(2), heart_rate.toFixed(2)],
            markPoint: {
                data: [{
                    type: 'max',
                    name: '最大值'
                }, {
                    type: 'min',
                    name: '最小值'
                }]
            }

        }
        ]
    };

    var radar_option_attention = {
        title: {
            text: '技能图'
        },
        tooltip: {
            trigger: 'axis'
        },
        legend: {
            x: 'center',
            data: ['技能点']
        },
        radar: {
            indicator: [{
                text: '成绩稳定性',
                max: 10
            },
                {
                    text: '成绩水平',
                    max: 10
                },
                {
                    text: '心态',
                    max: 10
                }

            ],
            center: ['50%', '50%'],
            radius: 130
        },
        series: {
            type: 'radar',
            tooltip: {
                trigger: 'item'
            },
            itemStyle: {
                normal: {
                    areaStyle: {
                        type: 'default'
                    }
                }
            },
            data: [{
                value: [skills.stability_level, skills.grade_level, skills.heart_level],
                name: '技能点'
            }]
        }
    };

    var myRelationship = echarts.init(document.getElementById('relationship'));
    var myAttention = echarts.init(document.getElementById('attention'));


    myRelationship.setOption(option_relationship);
    myAttention.setOption(radar_option_attention);

});
   </script>
{% endblock %}
{% block menu %}

    <ul class="nav" id="main-menu">
        <li>
            <a class="active-menu" href="{% url 'sport_home' %}"><i class="fa fa-dashboard"></i> 主页</a>
        </li>
        {% comment %}       <li>
            <a href="{% url 'sport_game_analyse' %}"><i class="fa fa-desktop"></i> 射击数据分析</a>
        </li>{% endcomment %}
        <li>
            <a href="{% url 'sport_game_history' %}"><i class="fa fa-qrcode"></i> 射击数据</a>
        </li>
    </ul>

{% endblock %}


{% block header %}

    <h1 class="page-header">
        主页
    </h1>
    <ol class="breadcrumb">
        <li class="active">数据整体分析结果</li>
    </ol>
{% endblock %}

{% block content %}
    <div class="row">


        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    比赛成绩统计
                </div>
                <div class="panel-body">
                    <p> 经您的历史数据分析得:<br>
                        八秒阶段一共进行了{{ stage_eight.report_len }}组射击，最好成绩为:{{ stage_eight.best_grade }}环  &nbsp;&nbsp; 最坏成绩为:{{ stage_eight.bad_grade }}环  &nbsp;&nbsp;
                        平均成绩为:{{ stage_eight.average_grade }}环  &nbsp;&nbsp; 平均心率为:{{ stage_eight.average_heart }}
                        <br>
                        10环率为{{ stage_eight.ten_ring }} &nbsp;&nbsp;9环率为{{ stage_eight.nine_ring }}&nbsp;&nbsp;8环率为{{ stage_eight.eight_ring }}
                        <br>
                        <br>
                        六秒阶段一共进行了{{ stage_six.report_len }}组射击，最好成绩为:{{ stage_six.best_grade }}环  &nbsp;&nbsp; 最坏成绩为:{{ stage_six.bad_grade }}环  &nbsp;&nbsp;
                        平均成绩为:{{ stage_six.average_grade }}环  &nbsp;&nbsp; 平均心率为:{{ stage_six.average_heart }}
                        <br>
                        10环率为{{ stage_six.ten_ring }} &nbsp;&nbsp;9环率为{{ stage_six.nine_ring }}&nbsp;&nbsp;8环率为{{ stage_six.eight_ring }}
                        <br>
                        <br>
                        四秒阶段一共进行了{{ stage_four.report_len }}组射击，最好成绩为:{{ stage_four.best_grade }}环  &nbsp;&nbsp; 最坏成绩为:{{ stage_four.bad_grade }}环  &nbsp;&nbsp;
                        平均成绩为:{{ stage_four.average_grade }}环  &nbsp;&nbsp; 平均心率为:{{ stage_four.average_heart }}
                        <br>
                        10环率为{{ stage_four.ten_ring }} &nbsp;&nbsp;9环率为{{ stage_four.nine_ring }}&nbsp;&nbsp;8环率为{{ stage_four.eight_ring }}
                </div>

            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    比赛成绩分析
                </div>
                <div class="panel-body">
                    <p> 经您的历史数据分析得<br>
                        8秒阶段应在{{ stage_eight.one_average }}秒射出第一枪，{{ stage_eight.two_average }}秒射出第二枪，
                        {{ stage_eight.three_average }}秒射出第三枪，{{ stage_eight.four_average }}秒射出第四枪，{{ stage_eight.five_average }}秒射出第五枪
                        <br>
                        6秒阶段应在{{ stage_six.one_average }}秒射出第一枪，{{ stage_six.two_average }}秒射出第二枪，
                        {{ stage_six.three_average }}秒射出第三枪，{{ stage_six.four_average }}秒射出第四枪，{{ stage_six.five_average }}秒射出第五枪
                        <br>
                        4秒阶段应在{{ stage_four.one_average }}秒射出第一枪，{{ stage_four.two_average }}秒射出第二枪，
                        {{ stage_four.three_average }}秒射出第三枪，{{ stage_four.four_average }}秒射出第四枪，{{ stage_four.five_average }}秒射出第五枪

                </div>

            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    技能图
                </div>
                <div class="panel-body">
                    <div id="attention" style="width: 100%;height:500%;"></div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    成绩关系图
                </div>
                <div class="panel-body">
                    <div id="relationship" style="width: 100%;height:500%;"></div>
                    射击移动稳定性：射击运动员在射击点附近的水平方向移动变化，射击移动稳定性越低，则说明运动员在射击点附近水平移动的越稳，反之，则运动员水平移动的不稳。
                    <br>
                    <br>
                    瞄准稳定性：射击运动员在射击点附近的垂直方向移动变化，瞄准稳定性越低，则说明运动员在射击点附近持枪的越稳，反之，则运动员持枪不稳。
                </div>
            </div>
        </div>
    </div>
{% endblock %}

