{% extends 'base_shoot.html' %}

{% block title %}运动员数据分析-运动员主页{% endblock %}

{% block script %}
    <script src="/static/assets/js/pages/sport_home.js"></script>
{% endblock %}
{% block menu %}

    <ul class="nav" id="main-menu">
        <li>
            <a class="active-menu" href="{% url 'sport_home' %}"><i class="fa fa-dashboard"></i> 主界面</a>
        </li>
        {% comment %}       <li>
            <a href="{% url 'sport_game_analyse' %}"><i class="fa fa-desktop"></i> 射击数据分析</a>
        </li>{% endcomment %}
        <li>
            <a href="{% url 'sport_game_history' %}"><i class="fa fa-qrcode"></i> 射击数据</a>
        </li>
    </ul>

{% endblock %}


{% block header %}

    <h1 class="page-header">
        主页面
    </h1>
    <ol class="breadcrumb">
        <li class="active">数据整体分析结果</li>
    </ol>
{% endblock %}

{% block content %}
    <div class="row">


        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    比赛成绩统计
                </div>
                <div class="panel-body">
                    <p> 经您的历史数据分析得:<br>
                        八秒阶段一共进行了{{ stage_eight.report_len }}组射击，最好成绩为:{{ stage_eight.best_grade }}环  &nbsp;&nbsp; 最坏成绩为:{{ stage_eight.bad_grade }}环  &nbsp;&nbsp;
                        平均成绩为:{{ stage_eight.average_grade }}环  &nbsp;&nbsp; 平均心率为:{{ stage_eight.average_heart }}
                        <br>
                        10环率为{{ stage_eight.ten_ring }} &nbsp;&nbsp;9环率为{{ stage_eight.nine_ring }}&nbsp;&nbsp;8环率为{{ stage_eight.eight_ring }}
                        <br>
                        <br>
                        六秒阶段一共进行了{{ stage_six.report_len }}组射击，最好成绩为:{{ stage_six.best_grade }}环  &nbsp;&nbsp; 最坏成绩为:{{ stage_six.bad_grade }}环  &nbsp;&nbsp;
                        平均成绩为:{{ stage_six.average_grade }}环  &nbsp;&nbsp; 平均心率为:{{ stage_six.average_heart }}
                        <br>
                        10环率为{{ stage_six.ten_ring }} &nbsp;&nbsp;9环率为{{ stage_six.nine_ring }}&nbsp;&nbsp;8环率为{{ stage_six.eight_ring }}
                        <br>
                        <br>
                        四秒阶段一共进行了{{ stage_four.report_len }}组射击，最好成绩为:{{ stage_four.best_grade }}环  &nbsp;&nbsp; 最坏成绩为:{{ stage_four.bad_grade }}环  &nbsp;&nbsp;
                        平均成绩为:{{ stage_four.average_grade }}环  &nbsp;&nbsp; 平均心率为:{{ stage_four.average_heart }}
                        <br>
                        10环率为{{ stage_four.ten_ring }} &nbsp;&nbsp;9环率为{{ stage_four.nine_ring }}&nbsp;&nbsp;8环率为{{ stage_four.eight_ring }}
                </div>

            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    比赛成绩分析
                </div>
                <div class="panel-body">
                    <p> 经您的历史数据分析得<br>
                        8秒阶段应在{{ stage_eight.one_average }}秒射出第一枪，{{ stage_eight.two_average }}秒射出第二枪，
                        {{ stage_eight.three_average }}秒射出第三枪，{{ stage_eight.four_average }}秒射出第四枪，{{ stage_eight.five_average }}秒射出第五枪
                        <br>
                        6秒阶段应在{{ stage_six.one_average }}秒射出第一枪，{{ stage_six.two_average }}秒射出第二枪，
                        {{ stage_six.three_average }}秒射出第三枪，{{ stage_six.four_average }}秒射出第四枪，{{ stage_six.five_average }}秒射出第五枪
                        <br>
                        4秒阶段应在{{ stage_four.one_average }}秒射出第一枪，{{ stage_four.two_average }}秒射出第二枪，
                        {{ stage_four.three_average }}秒射出第三枪，{{ stage_four.four_average }}秒射出第四枪，{{ stage_four.five_average }}秒射出第五枪

                </div>

            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    技能图
                </div>
                <div class="panel-body">
                    <div id="attention" style="width: 100%;height:500%;"></div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    成绩关系图
                </div>
                <div class="panel-body">
                    <div id="relationship" style="width: 100%;height:500%;"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

