{% extends 'base_shoot.html' %}

{% block title %}运动员数据分析-运动员主页{% endblock %}

{% block script %}
    {#    <script src="/static/assets/js/pages/sport_game_analyse.js"></script>#}
    <script>
        $(function () {

            var grade_info = {{ grade_info|safe }};

            var data_grade = grade_info.grades;

            var r_pos = grade_info.r_pos;
            var p_pos = grade_info.p_pos;
            var data1 = [];
            var data_index = [];
            var data_grade_pre = [];
            for (var j = 0; j < data_grade.length; j++) {
                data_index.push(j + 1);
                var m = Math.random();
                if (m < 0.3) {
                    m = -1;
                }
                if (m >= 0.3 && m <= 0.6) {
                    m = 0;
                }
                if (m > 0.6) {
                    m = 1;
                }
                var pre = parseInt(data_grade[j]) + m;
                if (pre > 50) {
                    pre = 50;
                }
                data_grade_pre.push(pre);


            }
            for (var i = 0; i < r_pos.length; i++) {
                data1.push([r_pos[i], p_pos[i]]);
            }


            var pie_data = [{{ right_up }}, {{ right_blow }}, {{ left_blow }}, {{ left_up }}];

            var option_pie = {
                title: {
                    text: '打靶位置分布统计',
                    x: 'center'
                },
                tooltip: {
                    trigger: 'item',
                    formatter: "{a} <br/>{b} : {c} ({d}%)"
                },
                legend: {
                    //  orient: 'vertical',
                    //   left: 'left',
                    data: ['右上', '右下', '左下', '左上'],
                    top: 40
                },
                series: [
                    {
                        name: '打靶位置次数占比',
                        type: 'pie',
                        radius: '55%',
                        center: ['50%', '60%'],
                        data: [
                            {value: pie_data[0], name: '右上'},
                            {value: pie_data[1], name: '右下'},
                            {value: pie_data[2], name: '左下'},
                            {value: pie_data[3], name: '左上'}
                        ],
                        itemStyle: {
                            emphasis: {
                                shadowBlur: 10,
                                shadowOffsetX: 0,
                                shadowColor: 'rgba(0, 0, 0, 0.5)'
                            }
                        }
                    }
                ]
            };

            var options = {
                title: {
                    text: '射击数据图示,成绩稳定性：' + grade_info.grade_stability,
                    left: 'center'
                },
                tooltip: {
                    trigger: 'item',
                    formatter: '{a} : {c}'
                },
                legend: {
                    data: ['射击点'],
                    top: 40
                },
                polar: {
                    radius: 170
                },
                angleAxis: {
                    type: 'value',
                    startAngle: 0,
                    minInterval: 30,
                    maxInterval: 30,
                    interval: 30,
                    splitNumber: 12,
                    max: 360,
                    inverse: true

                },
                radiusAxis: {
                    //     axisAngle: 90,
                    min: 8,
                    max: 11,
                    interval: 1,
                    inverse: true
                },
                {% comment %}  dataZoom: [
                      {
                          type: 'slider',
                          radiusAxisIndex: 0,
                          bottom: 40,
                          start: 0,
                          end: 100
                      },
                      {
                          type: 'inside',
                          radiusAxisIndex: 0,
                          start: 0,
                          end: 100
                      }
                  ],{% endcomment %}
                series: [{
                    coordinateSystem: 'polar',
                    // FIXME
                    // 现在必须得设置这个，能不能polar和catesian一样，要不然很多特殊处理。
                    angleAxisIndex: 0,
                    radiusAxisIndex: 0,
                    name: '射击点',
                    type: 'scatter',
                    symbolSize: 5,
                    data: data1
                }]
            };
            var data_level = [];
            var data_total = [];

            for (var k = 1; k <= 50; k++) {
                data_level.push(k);
                data_total.push(0);
            }
            data_grade.forEach(function (item, index) {

                data_total[Math.floor(item) - 1]++;
            });

            var total_grade = {
                color: ['#3398DB'],
                title: {
                    left: 'center',
                    text: '成绩统计图'
                },
                tooltip: {
                    trigger: 'axis',
                    axisPointer: { // 坐标轴指示器，坐标轴触发有效
                        type: 'shadow' // 默认为直线，可选为：'line' | 'shadow'
                    }
                },
                grid: {
                    left: '3%',
                    right: '4%',
                    bottom: '3%',
                    containLabel: true
                },
                xAxis: [{
                    type: 'category',
                    min: 30,

                    name: '环数',
                    data: data_level,
                    axisTick: {
                        alignWithLabel: true
                    }
                }],
                yAxis: [{
                    type: 'value',
                    name: '次数'
                }],
                series: [{
                    name: '次数',
                    type: 'bar',
                    barWidth: '50%',
                    data: data_total
                }]
            };


            var values = grade_info.hearts;
            var heart_index = [];

            for (var t = 0; t < data_grade.length + 1; t++) {
                heart_index.push(t + 1);
            }
            var option_heart = {
                title: {
                    text: '5次射击平均心率变化数据'
                },
                tooltip: {
                    triggerOn: 'onmousemove',
                    formatter: function (params) {
                        return '次数: ' + params.name + '<br>心跳: ' + params.value + '次';
                    }
                },
                dataZoom: {
                    show: true,
                    realtime: true,
                    start: 0,
                    end: 100
                },
                xAxis: {
                    boundaryGap: false,
                    data: heart_index,
                    axisLabel: {
                        color: '#000000'
                    },
                    axisLine: {
                        lineStyle: {
                            color: '#BFBFBF'
                        }
                    }
                },
                yAxis: {
                    min: 40,
                    axisLabel: {
                        color: '#000000'
                    },
                    axisLine: {
                        lineStyle: {
                            color: '#BFBFBF'
                        }
                    }
                },
                series: [{
                    type: 'line',
                    data: values,
                    color: ['#2F42FF'],
                    symbolSize: 10,
                    label: {
                        normal: {
                            show: true//圆点上显示值
                        }
                    },
                    markLine: {
                        data: [{
                            type: 'average',
                            name: '平均值'
                        }]
                    }
                }]
            };

            var option_grade = {
                title: {
                    left: 'center',
                    text: '5次射击总成绩趋势走向图'
                },
                tooltip: {
                    trigger: 'axis',
                    axisPointer: {
                        animation: false
                    }
                },
                legend: {
                    data: ['射击成绩'],
                    top: 25
                },
                axisPointer: {
                    link: {
                        xAxisIndex: 'all'
                    }
                },
                dataZoom: {
                    show: true,
                    realtime: true,
                    start: 0,
                    end: 100,
                    xAxisIndex: [0, 1]
                },
                grid: [{
                    left: 40,
                    right: 40
                }, {
                    left: 40,
                    right: 40
                }],
                xAxis: [{
                    type: 'category',
                    boundaryGap: true,
                    axisLine: {
                        onZero: true
                    },
                    name: '次数',
                    splitLine: {
                        show: true,
                        lineStyle: {
                            color: '#fcc',
                            width: 1
                        }
                    },
                    data: data_index
                }, {
                    gridIndex: 1
                }],
                yAxis: [{
                    type: 'value',
                    //     max: 10,
                    name: '环数',
                    min: 30,
                    interval: 1,
                    splitLine: {
                        show: true,
                        lineStyle: {
                            color: '#fcc',
                            width: 2
                        }
                    }
                }, {
                    gridIndex: 1
                }],
                series: [{
                    name: '射击成绩',
                    type: 'line',
                    smooth: true,
                    itemStyle: {
                        normal: {
                            color: '#f94427'
                        }
                    },

                    data: data_grade
                }, {
                    name: '预测环数',
                    type: 'line',
                    smooth: true,

                    data: data_grade_pre
                }]
            };


            var report_shake_info = {{ report_shake_info|safe }};
            console.log(report_shake_info.length);
            for (k = 0; k < report_shake_info.length; k++) {
                var xUpData = report_shake_info[k].x_up_data_plus;
                var yData = report_shake_info[k].y_data_plus;
                var x_shoot_pos = report_shake_info[k].x_shoot_pos;
                var y_shoot_pos = report_shake_info[k].y_shoot_pos;
                var rate = report_shake_info[k].up_shake_rate;
                var grades = report_shake_info[k].grades;

                var data = [];
                var value = ["一", "二", "三", "四", "五"];
                for (i = 0; i < grades.length; i++) {
                    value[i] = value[i] + ":" + grades[i] + "环";
                }
                for (i = 0; i < x_shoot_pos.length; i++) {
                    var d = {};
                    d.value = value[i];
                    d.xAxis = x_shoot_pos[i];
                    d.yAxis = y_shoot_pos[i];
                    data.push(d);
                }

                var merge_data = [];
                for (i = 0; i < yData.length; i++) {
                    merge_data.push([xUpData[i], yData[i]]);
                }

                var shoot_pos_series = [];
                var merge_info = {
                    data: merge_data,

                    type: 'line',
                    smooth: true,
                    markPoint: {
                        itemStyle: {
                            color: 'rgba(0,0,255,0.3)'
                        },
                        data: data
                    }
                };
                shoot_pos_series.push(merge_info);
                var x_pos_center = [];
                var y_pos_center = [];
                for (i = 0; i < x_shoot_pos.length; i++) {
                    var x = parseFloat(report_shake_info[k].x_pos[i] / rate);
                    var y = parseFloat(report_shake_info[k].y_pos[i] / rate);
                    x_pos_center.push(x_shoot_pos[i] - x);
                    y_pos_center.push(y_shoot_pos[i] - y);
                }
                var radius = [50, 90, 130];
                for (i = 0; i < radius.length; i++) {
                    radius[i] /= rate;
                }
                for (i = 0; i < 5; i++) {

                    for (j = 0; j < 3; j++) {
                        var circle_grade_data = [];
                        var x_center = x_pos_center[i];
                        var y_center = y_pos_center[i];
                        var x_pos_start = x_center + radius[j] * Math.cos(0);
                        var y_pos_start = y_center + radius[j] * Math.sin(0);

                        for (var angle = 0; angle < 360; angle += 10) {
                            var x1 = x_center + radius[j] * Math.cos(angle * Math.PI / 180);
                            var y1 = y_center + radius[j] * Math.sin(angle * Math.PI / 180);
                            circle_grade_data.push([x1, y1]);
                        }
                        circle_grade_data.push([x_pos_start, y_pos_start]);
                        var pos_temp = {

                            data: circle_grade_data,
                            type: 'line',
                            smooth: true
                        };
                        shoot_pos_series.push(pos_temp);
                    }
                }

                var option_shake_merge_info = {
                    xAxis: {
                        type: 'value'
                    },
                    tooltip: {
                        trigger: 'axis'
                    },
                    yAxis: {
                        type: 'value'
                    },
                    dataZoom: {
                        show: true,
                        realtime: true,
                        start: 0,
                        end: 100
                    },
                    series: shoot_pos_series
                };
                var name = 'line_shake_merge_info' + k;
                console.log(name);
                var line_shake_merge_info = echarts.init(document.getElementById(name));
                line_shake_merge_info.setOption(option_shake_merge_info);
            }


            var myGrade = echarts.init(document.getElementById('grade'));
            var myChart = echarts.init(document.getElementById('circle'));
            var myTotalGrade = echarts.init(document.getElementById('total_grade'));
            //     var myLineShake = echarts.init(document.getElementById('line_shake'));
            var myHeart = echarts.init(document.getElementById('heart'));
            var myTotalShake = echarts.init(document.getElementById('total_shake'));

            myChart.setOption(options);
            myGrade.setOption(option_grade);
            myTotalGrade.setOption(total_grade);
            //       myLineShake.setOption(option_line_shake);
            myHeart.setOption(option_heart);
            myTotalShake.setOption(option_pie);
        });


    </script>
{% endblock %}
{% block menu %}

    <ul class="nav" id="main-menu">
        <li>
            <a href="{% url 'sport_home' %}"><i class="fa fa-dashboard"></i> 主界面</a>
        </li>
        {% comment %}     <li>
            <a class="active-menu" href="{% url 'sport_game_analyse' %}"><i class="fa fa-desktop"></i> 射击数据分析</a>
        </li>{% endcomment %}
        <li>
            <a class="active-menu" href="{% url 'sport_game_history' %}"><i class="fa fa-qrcode"></i> 射击数据</a>
        </li>
    </ul>

{% endblock %}


{% block header %}

    <h1 class="page-header">
        比赛数据分析
    </h1>
    <ol class="breadcrumb">
        <li class="active">分析结果</li>
    </ol>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            <form role="form">

                <div class="form-group">
                    <label>射击数据分析</label>
                </div>
            </form>
        </div>
        <div class="col-md-7">
        </div>
    </div>
    <div class="row">

        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    比赛成绩概览
                </div>
                <div class="panel-body">
                    <p>在该射击数据中，统计信息如下<br>
                        最好成绩:{{ best_grade }}<br>
                        最坏成绩:{{ bad_grade }}<br>
                        平均成绩:{{ average_grade }}<br>
                        打靶位置总体偏左下
                    </p>
                </div>
                {% comment %}<div class="panel-footer">
                    本次比赛数据信息统计如下
                </div>{% endcomment %}
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    比赛成绩建议
                </div>
                <div class="panel-body">
                    <p> 经您的数据分析得<br>
                        8秒阶段应在2.96秒射出第一枪，3.91秒射出第二枪，4.86秒射出第三枪，5.83秒射出第四枪，6.75秒射出第五枪<br>
                        6秒阶段应在2.43秒射出第一枪，3.29秒射出第二枪，4.14秒射出第二枪，5.01秒射出第三枪，5.83秒射出第四枪<br>
                        4秒阶段应在1.84秒射出第一枪，2.42秒射出第二枪，3.01秒射出第二枪，3.57秒射出第三枪，3.85秒射出第四枪<br>
                        4秒阶段的成绩不是很稳定，需要加强4s阶段的训练
                    </p>
                </div>

            </div>


        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    比赛成绩分布图
                </div>
                <div class="panel-body">
                    <div id="circle" style="width: 100%;height:500%;"></div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    打靶位置统计图
                </div>
                <div class="panel-body">
                    <div id="total_shake" style="width: 100%;height:500%;"></div>
                </div>
            </div>

        </div>
    </div>
    <div class="row">


        <div class="panel panel-default">
            <div class="panel-heading">
                成绩趋势走向图
            </div>
            <div class="panel-body">
                <div id="grade" style="width: 100%;height:500%;"></div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    比赛成绩统计图
                </div>
                <div class="panel-body">
                    <div id="total_grade" style="width: 100%;height:500%;"></div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    成绩心率走向图
                </div>
                <div class="panel-body">
                    <div id="heart" style="width: 100%;height:500%;"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    所选射击数据具体信息<br><br>
                    &nbsp;&nbsp;&nbsp;&nbsp;日期 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    | 开始时间 &nbsp;&nbsp;&nbsp;&nbsp;
                    | 结束时间 &nbsp;&nbsp;&nbsp;&nbsp;
                    | 备注
                </div>
                <div class="panel-body">
                    <div class="panel-group" id="accordion1">
                        {% for report in shoot_reports %}
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" href="#collapse{{ forloop.counter }}"
                                           class="collapsed">
                                            {{ report.shoot_date }}
                                            | {{ report.start_time }}
                                            | {{ report.end_time }}
                                            | {{ report.remark }}秒阶段，5次射击一共{{ report.total_grade }}环</a>

                                    </h4>
                                </div>
                                <div id="collapse{{ forloop.counter }}" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <a href="{% url 'sport_game_analyse_id' %}?id={{ report.id }}" target="_blank">详细信息</a><br>
                                        <div id="line_shake_merge_info{{ forloop.counter0 }}"
                                             style="width: 1200%;height:300%;">

                                        </div>
                                    </div>
                                </div>
                            </div>

                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

