<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>vue</title>

    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap-theme.css">
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    <script src="/static/js/echarts.js"></script>
    <script src="/static/js/vue.js"></script>

</head>
<body>
<div>
    <h2> hello world</h2>
</div>
<br>
<div id="app">
    {{ message }}
</div>

</body>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            message: 'Hello Vue!'
        }
    });

</script>
</html>